//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 10 18:45:51 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "odp" LOCATE = SITE "C17" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "dp<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "w1<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "dp<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "w1<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "dp<2>" LOCATE = SITE "N17" LEVEL 1;
COMP "dp<3>" LOCATE = SITE "R17" LEVEL 1;
COMP "reset" LOCATE = SITE "B18" LEVEL 1;
COMP "w3<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "w3<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "w3<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "w3<3>" LOCATE = SITE "F15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

