//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 03 17:51:55 2015
//! **************************************************************************

SCHEMATIC START;
COMP "msel<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "din<2>" LOCATE = SITE "N17" LEVEL 1;
COMP "msel<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "din<3>" LOCATE = SITE "R17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "clr" LOCATE = SITE "B18" LEVEL 1;
COMP "dsel<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "dsel<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "E17" LEVEL 1;
COMP "write" LOCATE = SITE "H13" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "F4" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "R4" LEVEL 1;
COMP "q<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "q<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "q<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "q<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "din<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "din<1>" LOCATE = SITE "L13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

